/* Header */
#header {}
h1 { font-size:2em; float:left; }
#buttonbar { float:right; }
#buttonbar li { list-style:none; display:inline; padding:0; margin:0;}

/* Navbar */
#navbar {}
#previouspage { float:left; }
#nextpage { float:right;}

.clear { clear: both; }
.loading { }

/* Tile */
.categorytilelist {  }
.categorytilelist h3 { font-size:1.5em; }