/* reset */
* { padding:0px; margin:0px; }
ul { }
li { list-style: none; }
h1 { padding:0; margin:0; font-size : 32px; margin-bottom : 10px; }
h2, h3 { padding:0; margin:0; font-size:22px; }
strong { font-size:18px; text-align: center; padding: 10px; }
a { text-decoration: none; color: #ffffff; }
body { margin: 10px 10px 0 0; font-size:16px; font-family:droid sans; color:#ffffff; background: #000000 url(../images/wall2.png) no-repeat; background-position: center center ; }


/* Header */
header { height: 114px; }
#previousButton { float:left; }
#logo { float: left; margin-left: 10px; }
#buttonbar { float:right; }
    #buttonbar li { display:inline; }

/* Navbar */
#navbar { clear: both; margin-left: 74px; }
#arrowleft { float:left; }
#arrowright { float:right;}

/* Content */
#content { clear: both; margin-left: 74px; }

/* Tile */
.tilelist { width: 50%; float: left;}
    .tilelist li { width: 132px; height: 132px; background-color: #24A2FF; float: left; margin: 0 5px 5px 0; padding: 2px; }
    .tilelist li a { display: block; width: 132px; height: 132px; }
    .tilelist li a:hover { background-color: #2AAAFF; }
    .tilelist li strong { display: block; }
    .tilelist li img { margin: 2px; }
    .tilelist li em { visibility:hidden; }
    
/* Project page */
#projectHeader { display: block; }
.project_main { margin: auto; text-align: center; }
#projecttiles {  margin-top: 75px; }
    #projecttiles .projecttile { background-color: #24A2FF; width: 177px; height: 177px; border: groove 1px black; margin: 0 10px 10px 0; float:left; }
        #projecttiles .projecttile a { display: block; width: 177px; height: 177px; overflow: hidden; }
        #projecttiles .projecttile a:hover { background-color: #2AAAFF;  }
        #projecttiles .projecttile strong { display: block;  }
        #projecttiles .projecttile p { padding: 5px; }
        #projecttiles .projecttile img { margin: auto; margin: 0 25px; }
        #projecttiles .projecttile video { margin: auto; margin: 0 25px; }

/* Result list */
#resultList { clear: both; margin-top: 40px; }
    #resultList li { float: left; width: 293px; height: 132px; background-color: #24A2FF; margin: 0 2px 2px 0; padding: 2px; text-align: center; }
    #resultList li a { display: block; width: 293px; height: 132px; overflow: hidden; }
    #resultList li a:hover { background-color: #2AAAFF; }
    #resultList li img { float: left; padding-right: 3px; margin-right: 3px; border-right: 1px solid white; }
    #resultList li strong { display: block; }

/* Gallery */
#gallery .media { width : 132px; height : 132px; margin: 0 2px 2px 0; }

.quit { float : left; }
	.quit .navig { width : 100px; height : 100px; }
	
.avatar { }
.description { clear : left; }