#content .media
{
	width : 100px;
	height : 100px;
	margin : 10px;
}

/*
** Fichier Description
*/

.quit
{
	float : left;
}
.quit .navig
{
	width : 100px;
	height : 100px;
}

.avatar 
{
	
}

.description
{
	clear : left;
}
