html, body { height: 100%; }

#wrap { height: 330px; clear: both; }
#resultList { height: 300px; overflow: scroll; margin-bottom: 10px; }

#searchfield
{
	margin-top: 2px;
	height: 56px;
	width: 524px;
	margin-left: 20px;
	font-size: 32px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;	
}

#keyzone { clear:both; font-size: 30px; height: 288px; }
	#keyzone .line { margin: auto; clear: both; }
	
#letters { float: left; width: 720px; }
#numbers { float: right; width: 216px; }

.key
{
	background-color: #24A2FF;
	float: left;
	border: 1px solid black;
	padding : 10px;
	width: 48px;
	height: 48px;
	margin: 0 2px 2px 0;
	text-align: center;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.enterkey
{
	width : 120px;
	
}
.spacekey
{
	width : 408px;
}
.remkey
{
	width : 120px;
}
